@layer reset, lfp, base, layout, component;

@layer base {
  :root {
    color-scheme: light dark;

    --code-1: #f1f5f9;
    --code-2: #e2e8f0;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --code-1: #1e293b;
      --code-2: #64748b;
    }
  }

  body {
    box-sizing: border-box;
    min-height: 100dvh;
    margin: 10px 20px;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  p { line-height: 1.25; }

  code {
    padding-inline: 0.125rem;
    background: var(--code-1);
    border: 1px solid var(--code-2);
    border-radius: 0.25rem;
  }

  .demo-area {
    --_primary-bg: #6ee7b7;
    --_padding: 1rem;

    position: relative;
    box-sizing: border-box;
    padding: var(--_padding);
    padding-block-start: calc(var(--_padding) * 1.25);
    border: 2px solid var(--_primary-bg);
    border-radius: calc(var(--_padding) * 0.25);

    &::before {
      content: attr(description);
      position: absolute;
      top: -10px;
      left: calc(var(--_padding) + 0.5rem);
      padding: 2px 5px;
      border-radius: 0.25rem;
      background: var(--_primary-bg);
      font-size: 0.75rem;
      color: #f8fafc;
    }
  }
}

@layer component {
  lfp-scrolldistancebar {
    position: fixed;
    top: 0;
    left: 0;
  }
  /* lfp-tablist {
    nav {
      ul {
        li {
          &:not(:nth-last-of-type(1)):after {
            content: "/";
            padding-inline: 8px;
          }

          button {
            padding: 0;
            background: none;
            border: none;
            text-transform: uppercase;
            color: #fc4842;
            transition: color 0.3s ease-in-out;
            cursor: pointer;

            h1, h2, h3, h4, h5, h6 { margin: 0; }

            &:is(:hover, :focus) { color: #fb1710; }

            &.active { color: inherit; }
          }
        }
      }
    }
  } */

  /* lfp-tablist {
    max-width: 60ch;

    nav ul {
      display: flex;
      
      li {
        text-align: center;
        transition: flex-grow 500ms ease-in-out,
          opacity 150ms ease-in-out;
        opacity: 0.45;

        &:hover { opacity: 0.55; }

        &:has(button.active) {
          flex-grow: 1;
          opacity: 1;
        }

        button {
          width: 100%;
          padding-inline: 1rem;
          background: transparent;
          border: none;
          cursor: pointer;
        }

        &:nth-of-type(1) { background: #A6DED2; }
        &:nth-of-type(2) { background: #A6DEAC; }
        &:nth-of-type(3) { background: #DFADA8; }
      }
    }

    section {
      box-sizing: border-box;
      padding: 1rem;

      p + p {
        margin: 0;
        padding-block-end: 0.625rem;
      }

      &:nth-of-type(1) { background: #A6DED2; }
      &:nth-of-type(2) { background: #A6DEAC; }
      &:nth-of-type(3) { background: #DFADA8; }
    }
  } */

  /* lfp-tablist {
    --_border-radius: 1rem;
    nav {
      margin-inline-start: var(--_border-radius);

      ul {
        li {
          button {
            box-sizing: border-box;
            position: relative;
            margin: 1px;
            background-color: white;
            border: none;
            opacity: 0.5;

            &.active {
              opacity: 1;
              margin: 0;
              border: 1px solid lightgray;
              border-radius: var(--_border-radius) var(--_border-radius) 0 0;

              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -15px;
                width: 100%;
                height: 30px;
                background-color: white;
              } 
            }
          }
        }
      }
    }

    section {
      box-sizing: border-box;
      padding: 0 1rem 1rem;
      border: 1px solid lightgray;
      border-radius: var(--_border-radius);
    }
  } */
}