@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');

@layer reset, lfp, base, layout, component;

@layer base {
  :root {
    color-scheme: light dark;

    --clr-code-1: #f1f5f9;
    --clr-code-2: #e2e8f0;
    --clr-accent-1: #6ee7b7;

    @media (prefers-color-scheme: dark) {
      --clr-code-1: #1e293b;
      --clr-code-2: #64748b;
    }
  }


  body {
    box-sizing: border-box;
    min-block-size: 100dvh;
    margin: 10px 20px;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  dt { font-weight: bold; }

  p { line-height: 1.25; }

  pre {
    max-inline-size: 100%;
    padding: 0.5rem;
    background: var(--clr-code-1);
    border: 1px solid var(--clr-code-2);
    border-radius: 0.25em;
    overflow-x: auto;
  }

  code {
    padding-inline: 0.25em;
    background: var(--clr-code-1);
    border: 1px solid var(--clr-code-2);
    border-radius: 0.25em;
  }

  .demo-area {
    --_primary-bg: var(--clr-accent-1);
    --_padding: 1rem;

    position: relative;
    box-sizing: border-box;
    padding: var(--_padding);
    padding-block-start: calc(var(--_padding) * 1.25);
    border: 2px solid var(--_primary-bg);
    border-radius: calc(var(--_padding) * 0.25);

    &::before {
      content: attr(description);
      position: absolute;
      inset-block-start: -10px;
      inset-inline-start: calc(var(--_padding) + 0.5rem);
      padding: 2px 5px;
      border-radius: 0.25rem;
      background: var(--_primary-bg);
      font-size: 0.75rem;
      color: canvas;
    }
  }
}

@layer layout {
  .wrapper {
    max-inline-size: 80ch;
    margin: auto;
  }
}

@layer component {
  lfp-scrollmeter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    > .meter {
      background-color: var(--clr-accent-1);
    }
  }

  lfp-toc {
    .current-heading {
      color: var(--clr-accent-1);
    }
  }
}