@layer lfp {
  lfp-tablist {
    display: block;
    
    [menu-orientation="vertical"] nav ul {
      flex-direction: column;
    }
    
    nav {
      ul {
        display: flex;
        align-items: start;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          margin: 0;
          padding: 0;
        }
      }
    }

    [role="tabpanel"] {
      height: calc-size(auto);
      overflow: hidden;
      transition: height 0.3s;

      &:not([aria-selected="true"]) {
        height: 0;
        visibility: hidden;
      }
    }
  }
}