@layer lfp {
  lfp-numberinput {
    input {
      text-align: right;
      
      &[type="number"] { appearance: textfield; }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}