@layer lfp {
  lfp-toast {
    ul {
      box-sizing: border-box;
      list-style: none;
      position: fixed;
      bottom: 1rem;
      left: 1rem;
      display: flex;
      flex-direction: column-reverse;
      gap: 1rem;
      max-width: min(65ch, calc(100% - 2rem));
      margin: 0;
      padding: 0;
      font-size: 0.875rem;
      hyphens: auto;
      overflow: auto;
      z-index: 999;

      li {
        animation: toast-blend paused 1000ms ease-in-out;
        flex-grow: 0;
        display: grid;
        gap: 0.125em 0.25rem;
        align-self: first baseline;
        margin: 0;
        padding: 1rem;
        border-radius: 2px;
        background-color: oklch(33.29% 0 0);
        color: oklch(94.91% 0 0);

        span {
          &:first-of-type {
            grid-row: 1;
            font-size: 0.75em;
            text-transform: uppercase;
          }

          &:last-of-type {
            grid-row: 2;
          }
        }

        button {
          grid-row: 1 / 3;
          align-self: center;
          width: 20px;
          aspect-ratio: 1;
          padding: 0.75rem;
          border: none;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/></svg>');
          background-color: transparent;
          background-position: center;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }
    }
  }

  @keyframes toast-blend {
    100% {
      opacity: 0;
    }
  }
}